<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Markdown Live Preview</title>
  </head>
  <body>
    File:
    <input type="text" style="width: 150px" placeholder="path" id="filepath"/>
    Delay:
    <input type="text" style="width: 100px" placeholder="seconds" id="delay"/>
    <button onclick="autoReload()">Preview</button>
    <hr>
    <div id="preview">[No file selected]</div>
    <script src="static/script.js"></script>
  </body>
</html>
